.bgCoverCenter{
    background-size: cover;
    background-position: center center;
}

.meanline::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: $dark;
    top: 0;
    left: 50%;
}

.h-checkout{
    min-height: calc(100vh - 63.6px - 72.8px);
    @include media-breakpoint-up(md) {
        min-height: calc(100vh - 82px - 84px);
    }
}